## Basic Environment Variables
APP_ENV=staging
APP_NAME=Streambase
APP_HOST=localhost
APP_PORT=5000

TOKEN_SECRET

## If using database other than MongoDB/CosmosDB
DB_TYPE=MYSQL # MySQL, MySQLi, etc
DB_HOST=localhost # Server location: localhost, ip, url
DB_PORT=
DB_USER=
DB_PASS=

## MongoDB Credentials
MONGO_DB_NAME=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_URI=

## CosmosDB Credentials
COSMOSDB_USER= #"<Azure Cosmos account's user name, usually the database account name>"
COSMOSDB_PASSWORD= #"<Azure Cosmos account password, this is one of the keys specified in your account>"
COSMOSDB_DBNAME= #"<Azure Cosmos database name>"
COSMOSDB_HOST= #"<Azure Cosmos Host name>"

## Social Authorization Tokens and keys
GOOGLE_CLIENT_ID=